<!DOCTYPE html>
<html>
<head>
	<title>Mushrooms</title>
</head>
<body ng-app="shrooms">

	<div ng-controller="mushroomController">
		<input type="text" placeholder="Search Mushrooms" ng-model="searchText">
		<input type="radio" name="types" value="true" ng-model="edible"> Poisonous
		<input type="radio" name="types" value="false" ng-model="edible"> Non-Poisonous

		<ul>
			<li ng-repeat="mushroom in mushroomsList | filter : searchText | filter : edible">
				<h1>{{mushroom.name}}</h1>
				<p ng-model="mushroom.edible">
					<span ng-show="mushroom.edible">Edible</span>
					<span ng-hide="mushroom.edible">Inedible</span>
				</p>
				<p>{{mushroom.description}}</p>
			</li>
		</ul>

	</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers/mushroomController.js"></script>
<script src="app/factories/mushroomFactory.js"></script>
</body>
</html>